DATABASE_URL="mysql://root@127.0.0.1:3306/yesspos_db"
# Production (cPanel):
# DATABASE_URL="mysql://cpanel_user:cpanel_password@localhost:3306/cpanel_yesspos_db"

AUTH_SECRET="generate_with_npx_auth_secret_min_32_chars"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
# Production: NEXT_PUBLIC_APP_URL="https://pos.yessbangla.com"
